
	.button {
		background-color: #dc8429;
		border-radius: 6px;
		font-weight: 700;
		box-shadow: 0px 2px 2px 0px #522b60;
		text-transform: uppercase;
		background-image: linear-gradient(to bottom, #f19737 0%,#dc8429 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		&:hover {
			background-color: #dc8429;
			background-image: none;
		}
	}