
	.intro {
		border-bottom: 4px solid #2d75c7;
		box-shadow: none;
		position: relative;
	}

	.intro__bg {
		position: relative;
		img {
			object-fit: cover;
		}
	}

	.intro__button {
		margin-bottom: 0;
		h3 {
			font-weight: 900;
			font-size: 24px;
			margin-bottom: 0;
		}
	}

	.intro__columns {
		.heading__title {
			color: #029ddd;
			line-height: 1;
			font-size: 24px;
			text-align: center;
			text-transform: uppercase;
		}
		.heading__sub-title {
			color: white;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.1;
			margin-bottom: 0.5rem;
			text-transform: uppercase;
		}
	}

	.intro__header {
		padding: 1rem 0;
		position: relative;
		.intro__columns {
			position: relative;
		}
	}

	.intro__content {
		// background-color: rgba( 255,255,255,.7 );
	}

	.intro__plan {
		padding: 1rem 0;
		margin-top: 3rem;
		.columns {
			padding-bottom: .5rem;
			position: relative;
		}
	}

	.intro__plan__content {
		.button {
			display: block;
			margin-bottom: 0;
		}
	}

	.intro__plan__desc {
		color: white;
		margin-bottom: 0;
	}

	.intro__plan__list {
		padding: 14px 18px;
		text-align: center;
		&:first-of-type {
			background-color: rgba( 111,190,223,.8 );
		}
		&:nth-of-type(2) {
			background-color: rgba( 231,159,83,.8 );
		}
		&:nth-of-type(3) {
			background-color: rgba( 65,99,144,.8 );
		}
		&:last-of-type {
			background-color: rgba( 178,106,170,.8 );
		}
	}

	.intro__plan__price {
		color: white;
		font-size: 78px;
		font-weight: bolder;
		letter-spacing: -1px;
		line-height: 1.2;
		padding-right: 10px;
		position: relative;
		i {
			color: white;
			font-size: 13px;
			margin-left: 8px;
			position: absolute;
			top: 16px;
		}
		span {
			font-size: 30px;
			margin-right: 10px;
		}
	}

	.intro__plan__sub-title {
		color: #4d7eb9;
		font-size: 13px;
		font-weight: bolder;
		margin-bottom: 0;
		text-align: center;
		text-transform: uppercase;
	}

	.intro__plan__title {
		color: white;
		font-size: 20px;
		line-height: 1.2;
		text-transform: uppercase;
	}

	.intro__price {
		padding: 1rem 0;
	}

	.intro__price__amount {
		color: #0198df;
		font-weight: bolder;
		line-height: 1;
		margin-bottom: 0;
		.price-peso {
			display: block;
			font-size: 35px;
		}
		.pricePeso {
			font-size: 70px;
		}
		& > .intro__price__second-amount {
			display: block;
			margin: 0 auto;
			max-width: 226px;
		}
		.intro__price__second-amount {
			color: #333;
			font-size: 18px;
			font-weight: 600;
			text-align: right;
		}
	}

	.intro__price__plan {
		margin-top: 1rem;
	}

	.intro__price__sub-title {
		color: #4F7CBA;
		font-size: 20px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 500;
		margin-top: 2rem;
		padding-left: 0;
	}

	.intro__price__sub-amount {
		font-weight: bold;
	}

	.intro__price__title {
		font-weight: bold;
		margin-bottom: 0;
		margin-left: -66px;
		text-transform: uppercase;
	}

	.contract__price__button  h3 {
		font-size: 24px;
		font-weight: 900;
		margin: 0 50px;
		line-height: 1.2;
	}
	.contract__price__button em {
		font-weight: 400;
		margin: 10px 0 0 0;
		text-transform: none;
	}

	@media screen and ( min-width: 62em ) {

		.intro {
			border-bottom: 0;
			box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
		}

		.intro__bg {
			&:before {
				height: 650px;
				// background: rgba(0,0,0,.2);
				bottom: 0;
				content: "";
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
			img {
				height: 650px;
				width: 100%;
			}
		}

		.intro__columns {
			.heading__title {
				margin-top: 5rem;
				color: #019cdf;
				font-size: 34px;
				letter-spacing: 2;
				line-height: 1.2;
				text-align: left;
				text-transform: uppercase;
			}
			.heading__sub-title {
				color: white;
				font-size: 44px;
				font-weight: 400;
				line-height: 0.9;
				margin-bottom: 0.5rem;
				text-transform: uppercase;
			}
		}


		.intro__content {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		.intro__plan {
			.columns {
				padding-bottom: 1rem;
			}
		}


		.intro__plan__list {
			margin-right: 1rem;
			position: relative;
			transition: all .2s cubic-bezier( .4,0,.2,1 );

			&:last-of-type {
				margin-right: -4rem;
			}

			&:hover {
				.intro__plan__content {
					opacity: 1;
					visibility: visible;
				}
				.intro__plan__title {
					top: 0;
				}
			}

			.intro__plan__content {
				opacity: 0;
				visibility: hidden;
				transition: all .2s cubic-bezier( .4,0,.2,1 );
			}

			.intro__plan__title {
				position: relative;
				top: 94px;
			}
		}

		.intro__plan__sub-title {
			color: #535548;
		}

		.intro__plan__price {
			font-size: 78px;
			line-height: 1;
			span {
				font-size: 30px;
			}
		}


		.intro__price__amount {
			padding-left: 50px;
		}


		.intro__price__plan {
			margin-top: 0;
		}

		.intro__price__sub-amount {
			padding-left: 9rem;
		}

		.intro__price__sub-title {
			padding-left: 40px;
		}
	}