
	<section class="coverage" id="coverage" data-magellan-target="coverage">
		<section class="coverage__intro">
			<div class="row">
				<div class="columns text-center">
					<h2 class="coverage__intro__title heading__title">Coberturas y beneficios</h2>
					<p class="coverage__intro__description">Las coberturas dependen de la edad del asegurado o de sus cargas y del plan seleccionado. Para conocer cuales son tus <br/>coberturas cuéntanos primero, cuál es tu edad y que seguro tienes pensado contratar.</p>
					<p class="coverage__intro__date"><strong><em>¿Qué edad tiene la persona de mayor edad que quieres incluir en este seguro?</em></strong></p>
					<select name="" id="secureDate2" class="secureDateCoverage">
						<option value="18">18 años hasta cumplir 50 años</option>
						<option value="50">50 años hasta cumplir 70 años</option>
						<option value="70">70 años hasta cumplir 81 años</option>
						<option value="81">81 años hasta cumplir 90 años</option>
						<option value="90">90 años hasta cumplir 100 años</option>
						<option value="1865">18 años hasta cumplir 65 años</option>
					</select>
				</div>
			</div>
		</section>


		<section class="coverage__list">
			<div class="coverage__list__row row text-center align-bottom">
				<div class="columns small-12 medium-3">
					<div class="row coverage__list__sub-row align-middle">
						<div class="columns small-6 medium-12">
							<p class="coverage__list__row__desc">Capital</p>
							<p class="coverage__list__row__desc">Asegurado</p>
						</div>
						<div class="columns small-6 medium-12">
							<h3 class="coverage__list__row__title">UF
								<span id="capital"
									data-cvuf18="36000"
									data-cvuf50="36000"
									data-cvuf70="3500"
									data-cvuf81="3500"
									data-cvuf90="3500"
									data-cvuf1865="36000"></span>
							</h3>
						</div>
					</div>
				</div>
				<div class="columns small-12 medium-3">
					<div class="row coverage__list__sub-row align-middle">
						<div class="columns small-6 medium-12">
							<p class="coverage__list__row__desc">Deducible</p>
						</div>
						<div class="columns small-6 medium-12">
							<h3 class="coverage__list__row__title">UF
								<span id="deductible"
									data-cvuf18="60"
									data-cvuf50="60"
									data-cvuf70="200"
									data-cvuf81="300"
									data-cvuf90="400"
									data-cvuf1865="2"></span>
							</h3>
						</div>
					</div>
				</div>
				<div class="columns small-12 medium-6">
					<div class="row coverage__list__sub-row align-middle">
						<div class="columns small-6 medium-12">
							<p class="coverage__list__row__desc">Enfermedades con</p>
							<p class="coverage__list__row__desc">deducible diferenciado <i data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Cáncer, Accidente Vascular Cerebral, Infarto al Miocardio, Insuficiencia Renal Crónica, Angioplastía, Injerto Aórtico, Cirugía de Válvulas Cardiacas, Transplante de órganos mayores y Alzheimer." class="has-tip top fa fa-info-circle" aria-hidden="true"></i></p>
						</div>
						<div class="columns small-6 medium-12">
							<h3 class="coverage__list__row__title">
								<span id="deductibleSick"
									data-cvuf18="Sin deducible"
									data-cvuf50="Todas con deducible"
									data-cvuf70="Todas con deducible"
									data-cvuf81="Todas con deducible"
									data-cvuf90="Todas con deducible"></span>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- Cobertura -->

		<section class="coverage__features">
			<div class="coverage__features__container u-container">
				<div class="changeCoverageMore coverage__features__title text-center">
					<h3 class="heading__title">Cobertura Seguro Gastos Médicos Mayores</h3>
				</div>
				<div class="u-row" data-accordion>
					<div class="coverage__features__columns small-12 medium-4 is-active"  data-accordion-item>
						<a href="#" class="accordion-title"><img src="{{root}}/assets/img/hospitalaria.png" alt="Logotipo Hospitalarias"> Coberturas hospitalarias</a>
						<div class="coverage__features__tab-content" data-tab-content>
							<figure class="coverage__features__image show-for-medium">
								<img src="assets/img/iStock-520613914.jpg" alt="">
								<figcaption class="coverage__features__image-caption">
									<img src="assets/img/ico_cobertura-hospitalaria.svg" />
									<h4 class="coverage__features__image__title"> Coberturas Hospitalarias</h4>
								</figcaption>
							</figure>
							<div class="coverage__features__list">
								<p>Días Cama Medicina; UTI; UCI; Intermedio, Recuperación</p>
								<p>Servicios Hospitalarios y Medicamentos Hospitalarios</p>
								<p>Honorarios Médico Quirúrgicos</p>
								<p>Prótesis Quirúrgicas</p>
								<p>Cirugía Dental por Accidente</p>
								<p>Servicio privado de enfermera</p>
								<p>Ambulancia terrestre</p>
							</div>
						</div>
					</div>

					<div class="coverage__features__columns small-12 medium-4"  data-accordion-item>
						<a href="#" class="accordion-title"><img src="{{root}}/assets/img/ambulatoria.png" alt="Logotipo ambulatoria"> Coberturas Ambulatorias</a>
						<div class="coverage__features__tab-content" data-tab-content>
							<figure class="coverage__features__image show-for-medium">
								<img src="assets/img/iStock-470764758.jpg" alt="">
								<figcaption class="coverage__features__image-caption">
									<img src="assets/img/ico_cobertura-ambulatoria.svg" />
									<h4 class="coverage__features__image__title">Coberturas Ambulatorias</h4>
								</figcaption>
							</figure>
							<div class="coverage__features__list">
								<p>Cirugía Ambulatoria</p>
								<p>Consultas Médicas</p>
								<p>Exámenes de Laboratorio</p>
								<p>Imagenología</p>
								<p>Procedimientos de Diagnóstico y Terapéutico</p>
							</div>
						</div>
					</div>

					<div class="coverage__features__columns small-12 medium-4"  data-accordion-item>
						<a href="#" class="accordion-title"><img src="{{root}}/assets/img/ambulatoria.png" alt="Logotipo ambulatoria"> Ampliación de beneficios</a>
						<div class="coverage__features__tab-content" data-tab-content>
							<figure class="coverage__features__image show-for-medium">
								<img src="assets/img/iStock-470764758.jpg" alt="">
								<figcaption class="coverage__features__image-caption">
									<img src="assets/img/ico_cobertura-ambulatoria.svg" />
									<h4 class="coverage__features__image__title">Ampliación de beneficios</h4>
								</figcaption>
							</figure>

							<div class="coverage__features__list">
								<p>Órtesis Hospitalaria</p>
								<p>Cirugía Plástica Raparadora por Accidente</p>
								<p>Kinesiología y Medicina Física</p>
								<p>Prótesis y Órtesis Ambulatoria</p>
								<p>Drogas antineoplásticas</p>
								<p>Drogas inmunosupresoras para trasplantes de órganos</p>
								<p>Medicamentos Ambulatorios (Cobertura 50%)</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Complementario -->

				<div class="changeCoverageMore coverage__features__title text-center">
					<h3 class="heading__title">Cobertura Seguro Complementario de Salud</h3>
				</div>
				<div class="changeCoverageMore row" data-accordion>
					<div class="coverage__features__columns row columns small-12 medium-4 is-active"  data-accordion-item>
						<a href="#" class="accordion-title"><img src="{{root}}/assets/img/hospitalaria.png" alt="Logotipo Hospitalarias"> Coberturas hospitalarias</a>
						<div class="coverage__features__tab-content" data-tab-content>
							<figure class="coverage__features__image show-for-medium">
								<img src="assets/img/iStock-520613914.jpg" alt="">
								<figcaption class="coverage__features__image-caption">
									<img src="assets/img/ico_cobertura-hospitalaria.svg" />
									<h4 class="coverage__features__image__title"> Coberturas Hospitalarias</h4>
								</figcaption>
							</figure>
							<div class="coverage__features__list">
								<p>Días Cama Medicina; UTI; UCI; Intermedio, Recuperación</p>
								<p>Servicios Hospitalarios y Medicamentos Hospitalarios</p>
								<p>Honorarios Médico Quirúrgicos</p>
								<p>Prótesis Quirúrgicas</p>
								<p>Cirugía Dental por Accidente</p>
								<p>Servicio privado de enfermera</p>
								<p>Ambulancia terrestre</p>
							</div>
						</div>
					</div>
					<div class="coverage__features__columns row columns small-12 medium-4"  data-accordion-item>
						<a href="#" class="accordion-title"><img src="{{root}}/assets/img/ambulatoria.png" alt="Logotipo ambulatoria"> Coberturas Ambulatorias</a>
						<div class="coverage__features__tab-content" data-tab-content>
							<figure class="coverage__features__image show-for-medium">
								<img src="assets/img/iStock-470764758.jpg" alt="">
								<figcaption class="coverage__features__image-caption">
									<img src="assets/img/ico_cobertura-ambulatoria.svg" />
									<h4 class="coverage__features__image__title">Coberturas Ambulatorias</h4>
								</figcaption>
							</figure>
							<div class="coverage__features__list">
								<p>Cirugía Ambulatoria</p>
								<p>Consultas Médicas</p>
								<p>Exámenes de Laboratorio</p>
								<p>Imagenología</p>
								<p>Procedimientos de Diagnóstico y Terapéutico</p>
							</div>
						</div>
					</div>

					<div class="coverage__features__columns small-12 medium-4"  data-accordion-item>
						<a href="#" class="accordion-title"><img src="{{root}}/assets/img/ambulatoria.png" alt="Logotipo ambulatoria"> Ampliación de beneficios</a>
						<div class="coverage__features__tab-content" data-tab-content>
							<figure class="coverage__features__image show-for-medium">
								<img src="assets/img/iStock-470764758.jpg" alt="">
								<figcaption class="coverage__features__image-caption">
									<img src="assets/img/ico_cobertura-ambulatoria.svg" />
									<h4 class="coverage__features__image__title">Ampliación de beneficios</h4>
								</figcaption>
							</figure>

							<div class="coverage__features__list">
								<p>Órtesis Hospitalaria</p>
								<p>Cirugía Plástica Raparadora por Accidente</p>
								<p>Kinesiología y Medicina Física</p>
								<p>Prótesis y Órtesis Ambulatoria</p>
								<p>Drogas antineoplásticas</p>
								<p>Drogas inmunosupresoras para trasplantes de órganos</p>
								<p>Medicamentos Ambulatorios (Cobertura 50%)</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- Nuevo beneficio -->
		<section class="coverage__benefits">
			<div class="coverage__benefits__container u-container">
				<div class="coverage__benefits__row u-row middle-xs">
					<div class="coverage__benefits__col col-xs-12 col-md-5">
						<figure>
							<img src="http://media.istockphoto.com/photos/closeup-photo-of-pregnant-woman-picture-id509619552" alt="">
						</figure>
					</div>
					<div class="coverage__benefits__col col-xs-12 col-md-7">
						<h3 class="coverage__benefits__title heading__title">Nuevo beneficio seguro catastrófico Indisa</h3>
						<p class="coverage__benefits__desc">Hijos que están por nacer y cuyo parto sea en Clínica INDISA contarán con cobertura gratis hasta los 2 años de edad, si al menos la madre contrata el seguro dentro del primer trimestre del embarazo.</p>
						<p class="coverage__benefits__desc">Para las mujeres que se embaracen dentro de la vigencia de este seguro, contarán con el beneficio de su hijo gratis hasta los 2 años de edad.</p>
						<p class="coverage__benefits__desc">Para que el beneficio este vigente, la póliza de la madre debe estar vigente y con sus primas al día.</p>
					</div>
				</div>

				<div class="coverage__features__footer">
					<p><em><br/>Carencia de 30 días desde la fecha de inicio de vigencia del asegurado en la póliza, rige sólo para enfermedades, no así para accidentes.</em></p>
				</div>
			</div>
		</section>

		<section class="changeCoverage coverage__more">
			<div class="row">
				<div class="columns text-center">
					<div class="coverage__more__content">
						<h3 class="coverage__more__content__title">¿Quieres ampliar tu cobertura?</h3>
						<section class="intro__plan u-row">
  						<div class="intro__plan__list col-xs-12 col-sm-6 col-md-4">
  							<h3 class="intro__plan__title">Catastrófico + <br>enfermedades graves</h3>
  							<div class="intro__plan__content">
  								<p class="intro__plan__desc">Llévalo desde:</p>
  								<p class="intro__plan__price"><span>$</span>9.455<i data-tooltip="zffdyk-tooltip" aria-haspopup="true" data-disable-hover="false" tabindex="2" title="" aria-hidden="true" class="has-tip top fa fa-info-circle" aria-describedby="pxj3u0-tooltip" data-yeti-box="pxj3u0-tooltip" data-toggle="pxj3u0-tooltip" data-resize="pxj3u0-tooltip"></i></p>
  								<p class="intro__plan__desc intro__plan__uf end-xs">UF 0,399</p>
  								<a href="" class="button">Ver info</a>
  							</div>
  						</div>

  						<div class="intro__plan__list col-xs-12 col-sm-6 col-md-4">
  							<h3 class="intro__plan__title">Catastrófico + <br>enfermedades graves</h3>
  							<div class="intro__plan__content">
  								<p class="intro__plan__desc">Llévalo desde:</p>
  								<p class="intro__plan__price"><span>$</span>19.395<i data-tooltip="ks8xzp-tooltip" aria-haspopup="true" data-disable-hover="false" tabindex="2" title="" aria-hidden="true" class="has-tip top fa fa-info-circle" aria-describedby="5n50ym-tooltip" data-yeti-box="5n50ym-tooltip" data-toggle="5n50ym-tooltip" data-resize="5n50ym-tooltip"></i></p>
  								<p class="intro__plan__desc intro__plan__uf end-xs">UF 0,399</p>
  								<a href="" class="button">Ver info</a>
  							</div>
  						</div>

  						<div class="intro__plan__list col-xs-12 col-sm-6 col-md-4">
  							<h3 class="intro__plan__title">Catastrófico + <br>enfermedades graves</h3>
  							<div class="intro__plan__content">
  								<p class="intro__plan__desc">Llévalo desde:</p>
  								<p class="intro__plan__price"><span>$</span>32.393<i data-tooltip="6g4z7q-tooltip" aria-haspopup="true" data-disable-hover="false" tabindex="2" title="" aria-hidden="true" class="has-tip top fa fa-info-circle" aria-describedby="2ayujn-tooltip" data-yeti-box="2ayujn-tooltip" data-toggle="2ayujn-tooltip" data-resize="2ayujn-tooltip"></i></p>
  								<p class="intro__plan__desc intro__plan__uf end-xs">UF 0,399</p>
  								<a href="" class="button">Ver info</a>
  							</div>
  						</div>

  					</section>
					</div>
				</div>
			</div>
		</section>

	</section>