
	<div id="wrapper" class="wrapper">
		<div id="loading" class="loading">
			<div class="columns">
				<h3 class="text-center">Cargando información</h3>
				<div class="loader">Loading...</div>
			</div>
		</div>
		<section class="features" id="features" data-magellan-target="features">
			<section class="changeCoverage features__header z-depth-1">
				<div class="row">
					<div class="features__heading columns small-12">
						<h4 class="heading__sub-title text-center">Conoce más sobre nuestro</h4>
						<h2 class="heading__title text-center">Seguro catastrófico + oncológico</h2>
					</div>
					<div class="columns small-12 medium-6">
						<h5 class="features__sub-title heading__sub-title text-center">Principales características del seguro catastrófico + oncológico</h5>
						<p class="features__desc">Nuevo Catastrófico ISAPRE con posibilidad de Deducible UF 0 para 10 Enfermedades Graves hasta los 70 años, incluyendo cobertura para Alzheimer y Parkinson.</p>
						<ul class="features__list">
							<li class="features__list-item bullet-list">Cobertura de hasta el 100% para asegurados con ISAPRE, y para asegurados FONASA, cobertura hasta 100% para prestaciones cubiertas en al menos un 50% del sistema de salud, en caso de menor cobertura, aplica 50% de reémbolso.</li>
							<li class="features__list-item bullet-list">Capital Asegurado hasta UF 30.000 por evento y por asegurado.</li>
							<li class="features__list-item bullet-list">Deducible UF 60 por evento hasta cumplir los 70 años.</li>
							<li class="features__list-item bullet-list">Carencia de 60 días para enfermedad, accidentes sin carencia.</li>
							<li class="features__list-item bullet-list">Cobertura para titular y cónyuge hasta cumplir los 100 años.</li>
							<li class="features__list-item bullet-list">Hijos que están por nacer y cuyo parto sea en Clínica INDISA contarán con cobertura gratis hasta los 2 años de edad.</li>
						</ul>
					</div>
					<div class="columns small-12 medium-6 show-for-medium text-right">
						<img src="assets/img/medico_uc.jpg" />
					</div>
				</div>
			</section>

			<section class="features__contract">
				<div class="row">
					<div class="columns text-center">
						<h3>¿Listo para contratar?</h3>
						<h5>Entrena sintiéndote protegido con nuestros seguros MEDS</h5>
						<!-- Cobertura -->
						<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlus" target="_blank" class="changeCoverage button large">Contrátalo ahora</a>

						<!-- Cobertura + complementario -->
						<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlusPlus" target="_blank" class="changeCoverageMore button large">Contrátalo ahora</a>
						<!-- End cobertura + complementario -->
					</div>
				</div>
			</section>
		</section>