
	<section class="full reveal initial-modal" id="initialModal" data-reveal>
		<div class="initial-modal__container u-container">
			<div class="initial-modal__row u-row middle-xs center-xs">
				<div class="initial-modal__content">
				  <h2 class="initial-modal__title heading__title">Gracias por tu interés en el</h2>
				  <h2 class="initial-modal__title heading__title">Seguro catastrófico clínica Indisa</h2>
				  <p class="initial-modal__description">Para conocer cuál es el plan que mejor se adecua a tus características</p>
				  <p class="initial-modal__description">cuéntanos un poco más sobre ti:</p>
					<div class="initial-modal__buttons u-row center-xs">
						<a href="#" data-close aria-label="Close reveal" class="button large">Tengo Isapre</a>
						<a href="#" data-close aria-label="Close reveal" class="button large">Tengo Fonasa</a>
					</div>
				  <button class="close-button" data-close aria-label="Close reveal" type="button">
				    <span aria-hidden="true">&times;</span>
				  </button>
			  </div>
		  </div>
	  </div>
	</section>

	<header class="header">
		<div data-sticky-container id="headerContainer">
			<div class="z-depth-4" data-sticky data-options="marginTop:0;" style="width:100%; background-color: #019cdf;">
				<div class="header__container u-container">
					<div class="header__row u-row align-middle" data-magellan>
						<div id="headerLogo" class="header__columns">
							<figure class="header__logo text-center">
								<a href="#intro">
									<img src="{{root}}/assets/img/logo.png" alt="Logotipo Red de Salud UC - CHRISTUS">
								</a>
							</figure>
							<div id="headerMenu" class="header__menu">
								<i class="fa fa-bars" aria-hidden="true"></i>
								<i class="fa fa-times" aria-hidden="true"></i>
							</div>
						</div>
						<div id="headerList" class="header__columns">
							<ul class="header__list u-row middle-xs end-sm">
								<li class="header__list-item">
									<a href="#features">Características</a>
								</li>
								<li class="header__list-item">
									<a href="#coverage">Coberturas</a>
								</li>
								<li class="header__list-item">
									<a href="#insurability">Requisitos</a>
								</li>
								<li class="header__list-item">
									<a href="#contract">Tarifas</a>
								</li>
								<li class="header__list-item">
									<!-- Cobertura -->
									<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlus" target="_blank" class="changeCoverage">
										Contrátalo aquí
									</a>

									<!-- Cobertura + complementario -->
									<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlusPlus" target="_blank" class="changeCoverageMore">
										Contrátalo aquí
									</a>
									<!-- End cobertura + complementario -->
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>