
	<section class="insurability" id="insurability" data-magellan-target="insurability">


		<!-- Cobertura -->
		<div class="insurability__row row">
			<div class="columns text-center">
				<h2 class="insurability__title heading__title">Requisitos de asegurabilidad</h2>
				<p class="insurability__description">Son asegurables los clientes que obtengan prestaciones o atenciones médicas en la <strong>Red de Clínica INDISA.</strong></p>
			</div>
		</div>


		<div class="changeCoverageMore insurability__features__title text-center">
			<h3 class="heading__title">Requisitos de asegurabilidad de Seguro de Gastos Médicos Mayores</h3>
		</div>

		<div class="insurability__row row">
			<div class="columns small-12 medium-6">
				<div class="insurability__box text-center">
					<p class="insurability__box__desc"><span>Asegurado:</span></p>
					<p class="insurability__box__desc">Titular, Cónyuge, Conviviente Civil o Pareja</p>
					<p class="insurability__box__desc"><span>Edad Mínima / Máxima de Incorporación:</span></p>
					<p class="insurability__box__desc">18 años / 69 años y 364 días</p>
					<p class="insurability__box__desc"><span>Edad Máxima de Permanencia:</span></p>
					<p class="insurability__box__desc">69 años y 364 días</p>
				</div>
			</div>
			<div class="columns small-12 medium-6">
				<div class="insurability__box text-center">
					<p class="insurability__box__desc"><span>Asegurado:</span></p>
					<p class="insurability__box__desc">Hijos y Nietos</p>
					<p class="insurability__box__desc"><span>Edad Mínima / Máxima de Incorporación:</span></p>
					<p class="insurability__box__desc">14 días / 22 años y 364 días</p>
					<p class="insurability__box__desc"><span>Edad Máxima de Permanencia:</span></p>
					<p class="insurability__box__desc">23 años y 364 días</p>
				</div>
			</div>
		</div>

		<!-- Cobertura Complementaria -->

		<div class="changeCoverageMore insurability__features__title text-center">
			<h3 class="heading__title">Requisitos de asegurabilidad de Cobertura Complementaria de Salud</h3>
		</div>

		<div class="changeCoverageMore insurability__row row">
			<div class="columns small-12 medium-6">
				<div class="insurability__box text-center">
					<p class="insurability__box__desc"><span>Asegurado:</span></p>
					<p class="insurability__box__desc">Titular, Cónyuge, Conviviente Civil o Pareja</p>
					<p class="insurability__box__desc"><span>Edad Mínima / Máxima de Incorporación:</span></p>
					<p class="insurability__box__desc">18 años / 59 años y 364 días</p>
					<p class="insurability__box__desc"><span>Edad Máxima de Permanencia:</span></p>
					<p class="insurability__box__desc">64 años y 364 días</p>
				</div>
			</div>
			<div class="columns small-12 medium-6">
				<div class="insurability__box text-center">
					<p class="insurability__box__desc"><span>Asegurado:</span></p>
					<p class="insurability__box__desc">Hijos y Nietos</p>
					<p class="insurability__box__desc"><span>Edad Mínima / Máxima de Incorporación:</span></p>
					<p class="insurability__box__desc">14 días / 22 años y 364 días</p>
					<p class="insurability__box__desc"><span>Edad Máxima de Permanencia:</span></p>
					<p class="insurability__box__desc">23 años y 364 días</p>
				</div>
			</div>
		</div>

		<!-- End Cobertura Complementaria -->

		<div class="insurability__row row">
			<ul class="insurability__list">
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc">Solo para pacientes afiliados a un sistema de ISAPRES</p>
				</li>
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc">Exclusivo para prestaciones en Clínica MEDS y sus centros médicos</p>
				</li>
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc">La cobertura comenzará su vigencia a partir del primer (1er) día del mes siguiente a la contratación. En consecuencia todas aquellas enfermedades que hayan sido diagnosticadas o los accidentes ocurridos con anterioridad a la fecha de inicio de vigencia, se considerarán preexistentes.</p>
				</li>
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc">Podrán tener calidad de Asegurados los clientes que obtengan prestaciones o atenciones médicas en Clínica MEDS y sus centros médicos.</p>
				</li>
			</ul>
		</div>
	</section>